    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          
          <ul class="nav navbar-nav">
             <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" href="#">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/about" href="#">About</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" href="#">Contact</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/login" href="#">Login</a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" href="#">Signup</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/addcoupon" href="#">AddCoupons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tradedcoupons" href="#">Traded Coupons</a>
        </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li>
              <a href="#"><span class="glyphicon glyphicon-user"></span></a>
            </li> -->
            <a class="navbar-brand" href="#">
              <img src="./assets/pwr.png" alt="" width="30" height="30" >
            </a>
          </ul>
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>

<!-- 
 <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg p-3 mb-5 bg-body rounded">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="assets/img1.jpg" alt="" width="40" height="40" class="d-inline-block align-top">
          Cars For You
        </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/table1" href="#">Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/samfrservice" href="#">samfrservice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fm" href="#">fm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/edl" href="#">edl</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/login" href="#">Admin Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/list" href="#">Admin List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user/login" href="#">User Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user/list" href="#">User List</a>
        </li>
       
      </ul>   
    </div></div>
</nav> -->
