

.navbar-header {
    float: none;
}
.navbar-collapse {
    text-align: center;
}
.navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar-right {
    float: right !important;
}
// .spacer {
//     margin-top: 20px;
// }