<!DOCTYPE html>
<html>
  <head>
    <title>Coupons Management System</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style></style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
      </div>

      <!-- Add Coupon Button -->
      <div class="row">
        <div class="add-coupon-button-container d-flex justify-content-end">
          <a href="addcoupon">
            <button class="btn btn-primary"> Add Coupon</button>
          </a>
        </div>
      </div>

      <div class="row spacer">
        <div class="col-md-4" *ngFor="let item of CouponsGrid">
          <div class="thumbnail coupon-item">
            <img [src]="item.img" alt="Image 1" />
            <div class="caption">
              <p><b>Coupon name -</b> {{ item.couponName }}</p>
              <p><b>Coupon Description -</b> {{ item.couponDescription }}</p>
              <p><b>Coupon Type -</b> {{ item.couponType }}</p>
              <p><b>Expires on -</b> {{ item.couponExpiry }}</p>
              <button
                class="btn btn-primary" (click)="viewcoupon(item)"
              >
                View coupon code
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div
      id="myModal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{ SelectedData?.name }}</h4>
          </div>
          <div class="modal-body">
            <img [src]="SelectedData?.image_url" alt="Product Image" class="img-responsive" />
            <div class="description">
              <p>{{ SelectedData?.description }}</p>
              <p>Expiry Date: {{ SelectedData?.expiryDate }}</p>
              <p>Discount: {{ SelectedData?.discount }}</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Buy/Exchange</button>
          </div>
        </div>
      </div>
    </div> -->
  </body>
</html>
